html{
    scroll-behavior: smooth;
}

body{
    background-color: #050016;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

/* temp style */
.logo{
    font-size: 1.5rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #050016;
    padding-block: 10px;

    a:not(.logo) {
        list-style: none;
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        &:hover{
            text-decoration: underline;
        }
    }
    .logo{
        color: white;
        text-decoration: none;
    }
}

.exercise{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    scroll-margin-top: 50px;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    background: linear-gradient(
        125deg,
        #0e003b 50%,
        #ffffff 50% 55%,
        #0e003b 55%
    );
    background-size: 250%;
    background-position: 0;
    transition: background 0.5s;
    &:hover{
        background-position: 100%;
        transition: background 0.5s;
    }
}